<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
          package="com.illusory.tmp_launcher">
<!--    android:sharedUserId="android.uid.system"-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".app.AppHope"
            android:allowBackup="true"
            android:icon="@drawable/ic_tmp"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.TFrame">
        <activity android:name=".MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.illusory.tmp_launcher.receiver.StartReceiver"
                  android:enabled="true"
                  android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.TmpServiceImpl"
                 android:exported="true"
        >
            <intent-filter>
                <action android:name="com.illusory.tmp_launcher.service.TmpServiceImpl"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="com.illusory.tmp_launcher"
                android:value="PackageName"/>
    </application>

</manifest>
