<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sc.lib_float">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <service android:name=".service.PaintServiceImpl"
                 android:exported="true"
        >
            <intent-filter>
                <action android:name="com.sc.lib_float.service.PaintServiceImpl"/>
            </intent-filter>
        </service>
    </application>
</manifest>
