<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sc.xs_cc">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:requestLegacyExternalStorage="true"
            android:name=".app.AppHope"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.TFrame"
            android:networkSecurityConfig="@xml/network_security_config"
            android:usesCleartextTraffic="true"
    >
        <activity android:name=".activity.MainActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
<!--        <activity android:name=".activity.ScreenActivity"/>-->
<!--        <activity android:name=".activity.FileImgActivity"/>-->
<!--        <activity android:name=".activity.FileImg2Activity"/>-->
<!--        <activity android:name=".activity.FileImg3Activity"/>-->

        <meta-data
                android:name="com.sc.xs_cc"
                android:value="PackageName"/>

<!--        <receiver android:name="com.sc.xs_cc.receiver.StartReceiver"-->
<!--                  android:enabled="true"-->
<!--                  android:exported="true"-->
<!--        >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED"/>-->
<!--                <action android:name="android.provider.Telephony.SECRET_CODE"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <service android:name=".service.MainServiceImpl" android:exported="true" android:priority="1000">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.sc.xs_cc.service.MainService" />-->
<!--            </intent-filter>-->
<!--        </service>-->

    </application>

</manifest>
