<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
          package="com.sc.tmp_cw">
<!--  android:sharedUserId="android.uid.system"  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:requestLegacyExternalStorage="true"
            android:name="com.sc.tmp_cw.app.AppHope"
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:largeHeap="true"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.TFrame">

        <activity
                android:name="com.sc.tmp_cw.MainActivity"
                android:screenOrientation="landscape" android:exported="true">
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />
                            <category android:name="android.intent.category.LAUNCHER" />
                            <category android:name="android.intent.category.DEFAULT" />
                            <category android:name="android.intent.category.HOME" />
                        </intent-filter>
        </activity>
        <activity android:name=".activity.SceneryActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.IntroduceActivity"/>
        <activity android:name=".activity.ParamActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.PlatylistActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.nbhope.lib_frame.activity.LogActivity"/>
        <activity android:name=".activity.UrgentNotifyActivity" android:launchMode="singleTop"/>
        <activity android:name=".activity.StationNotifyActivity" android:launchMode="singleTop"/>

        <receiver
                android:name="com.sc.tmp_cw.receiver.StartReceiver"
                android:enabled="true"
                android:exported="true"
                >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>
            </intent-filter>
        </receiver>

        <service
                android:name="com.sc.tmp_cw.service.TmpServiceImpl"
                android:exported="true"
                >
            <intent-filter>
                <action android:name="com.sc.tmp_cw.service.TmpServiceImpl"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="com.sc.tmp_cw"
                android:value="PackageName"/>
    </application>

</manifest>
